<%- include layouts/header.ejs %>

<style>
    .slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  } 
</style>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                    <h1 class="text-center slideInDown">Detalles del producto</h1>
                    <h1 class="text-center slideInDown">¿Tienes alguna sugerencia? Escríbenos en la caja de comentarios</h1>

            </div>


            <div class="col-md-12">

                   

                <div class="row" id="productMain">
                        <% for( var i = 0; i < documentos.length; i++) { %>
                    <div class="col-sm-6">
                        <div id="">
                            

                            <div class="box" style="background-color: gray;">
                                    <center><img src="/imagesProductos/<%= documentos[i].imagen %>" alt="" class="img-responsive" width="200px;" ></center>
                                    <h3 class="text-center"><%= documentos[i].titulo %></h3>
        
                                    <p class="price">$<%= documentos[i].precio %></p>
                                    <p><center><h4>Cantidad disponible: <%= documentos[i].existencia %></h4></center></p> 
        
                                    <h2 class="text-center">Más información del producto</h2>
                                        <h4 class="text-center">Descripción: <%= documentos[i].descripcion %></h4>
                                        <h4 class="text-center">Autor: <%= documentos[i].autor %></h4>
                                        <h4 class="text-center">Tecnología: <%= documentos[i].tecnologia %></h4>

                                    <% if ( documentos[i].existencia > 0 ) { %>
                                    <p class="text-center buttons">
                                        <a href="/AgregarAlCarro/<%= documentos[i].productoID %>" class="btn" style="background-color: black; color: white;"><i class="fa fa-shopping-cart"></i>Agregar al carro</a> 
                                    </p>
        
                                    <% } %>
        
                                </div>
                        </div>

                        <!-- /.ribbon -->

                    </div>
                    
                    <div class="col-sm-6">
                        
                            <div class="box" style="background-color: gray;">

                                    <div id="comments">
                                        <h4><%= comentarios.length %> Comentario(s)</h4>
                
                                        <% for (var i = 0; i < comentarios.length; i++) { %>
                                        <div class="row comments">
                
                                            <div class="col-sm-9 col-md-10" lang="fr">
                                                <h5><%= comentarios[i].user %></h5>
                                                <p class=""><i class=""></i> <%= comentarios[i].fecha %></p>
                                                <p><%= comentarios[i].comentario %></p>
                                                </p>
                                            </div>
            
                                        </div>
                                        <!-- /.comment -->
                
                                        <% } %>
                                        <!-- /.comment -->
                
                                    </div>
                                    <!-- /#comments -->
                
                                    <div id="comment-form">
                
                                        <h4>Dejanos un comentario</h4>
                
                                        <form action="/enviarComentario/<%= documentos[0].ID %>" method="post">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="comment">Comentarios<span class="required"></span>
                                                        </label>
                                                        <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="row">
                                                <div class="col-sm-12 text-right">
                                                    <button class="btn" style="background-color: black; color: white;"><i class=""></i>Agregar comentario</button>
                                                </div>
                                            </div>
                
                
                                        </form>
                
                                    </div>
                                    <!-- /#comment-form -->

                    </div>

                    <% } %>
                </div>



                


                </div>
            </div>
            </div>

<%- include layouts/footer.ejs %>