<%- include layouts/adminheader.ejs %>
  <%- include layouts/adminsidebar.ejs %>



    <main class="app-content">

      <div class="row">
        <div class="col-md-12">
          <div class="tile" style="background-color: gray;">
            <section class="invoice">
              <div class="row mb-4">
                <div class="col-8">
                  <h2 class="page-header">
                    <i></i>Catálogo de Manuales</h2>
                </div>
              </div>
              <div class="col-12">

                <div class="row d-print-none mt 4">

                  <li class="app-search">
                    <div class="col-4 text-right">
                      <a class="btn" style="background-color: black; color: white" href="/panelCreate">
                        <i></i> Agregar nuevo manual</a>
                    </div>


                    <form class="navbar-form" role="search" method="post" action="/filtrado" style="margin-left: 350px;">

                      <div class="input-group">
                        <input type="text" class="form-control" name="busqueda" id="busqueda" placeholder="Busquédas">
                        <span class="input-group-btn">

                          <button type="submit" class="btn" style="background-color: black; color: white;">
                            <i class="fa fa-search">Buscar</i>
                          </button>

                        </span>
                      </div>

                    </form>



                  </li>



                </div>

              </div>

              <br />

              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="background-color: black; color: white;">Imagen</th>
                        <th style="background-color: black; color: white;">Título</th>
                        <th style="background-color: black; color: white;">Descripción</th>
                        <th style="background-color: black; color: white;">Autor</th>
                        <th style="background-color: black; color: white;">Tecnología</th>
                        <th style="background-color: black; color: white;">Precio</th>
                        <th style="background-color: black; color: white;">Stock</th>
                        <th style="background-color: black; color: white;">Nombre del documento</th>
                        <th style="background-color: black; color: white;">Vendidos</th>
                        <th style="background-color: black; color: white;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 0; i < documentos.length; i++) { %>
                        <tr>
                          <td style="background-color: black; color: white;">
                            <img src="/imagesProductos/<%= documentos[i].imagen %>" alt="Imagen" height="100px" width="auto">
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].titulo %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].descripcion %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].autor %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].tecnologia %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].precio %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].existencia %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].archivo %>
                          </td>
                          <td style="background-color: black; color: white;">
                            <%= documentos[i].vendidos %>
                          </td>

                          <td class="text-right" style="background-color: black">
                            <a class="edit btn btn-default btn-success" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;" href="/panelEdit/<%= documentos[i].ID %>" target="_parent">
                              <i class="icon-note">Modificar</i>
                            </a>

                            <a class="delete btn btn-sm btn-danger" href="/DELETE/<%= documentos[i].ID %>">
                              <i class="icons-office-52">Eliminar</i>
                            </a>

                          </td>
                        </tr>
                        <hidden name="idProd" value="<%= documentos[i].ID %>"></hidden>
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>

            </section>
          </div>
        </div>
      </div>
    </main>


    <%- include layouts/adminfooter.ejs %>